[VERSION]
major =2
minor =0

[WEIGHT_AND_BALANCE]
max_gross_weight =4500
empty_weight =1984
reference_datum_position = 3.6,0,0
empty_weight_CG_position = -4,0,0.2
CG_forward_limit =0
CG_aft_limit =1
empty_weight_pitch_MOI =1400
empty_weight_roll_MOI =1137
empty_weight_yaw_MOI =2360
empty_weight_coupled_MOI =0
activate_mach_limit_based_on_cg =0
activate_cg_limit_based_on_mach =0
max_number_of_stations =2
station_load.0 =170,3.081,-1.072,0.282,TT:MENU.PAYLOAD.PILOT,1
station_load.1 =1829,-2.208,0,-2.747,Ballast,1

[CONTACT_POINTS]
static_pitch =0
static_cg_height =4.45
gear_system_type =0
tailwheel_lock =0
max_number_of_points =12
point.0 = 1,2.862,-4.338,-6.155,1500,1,2,0,0.65,2.04,0.7,6,6,2,0,0,1
point.1 = 1,2.862,4.338,-6.155,1500,2,2,0,0.65,2.04,0.7,5,5,3,0,0,1
point.2 = 1,-13.705,0,-2.516,720,0,1.6,1.5,0.14,1.53,0.3,0,0,0,0,0,1
point.3 = 16,-2.746,-17.902,2.99,350,0,0.5,0,4,1.5,0.75,0,0,0,0,0,4
point.4 = 16,-2.746,17.902,2.99,350,0,0.5,0,4,1.5,0.75,0,0,0,0,0,4
point.5 = 2,-15.599,0,-0.486,500,0,0.0001,0,0.0001,0.0001,0,0,0,9,0,0,1
point.6 = 2,7.981,0,0.88,350,0,0.0001,0,0.0001,0.0001,0,0,0,4,0,0,1
point.7 = 2,-3.995,0,-1.671,500,0,0.0001,0,0.0001,0.0001,0,0,0,8,0,0,1
point.8 = 2,-17.143,0,5.715,350,0,0.0001,0,0.0001,0.0001,0,0,0,0,0,0,1
point.9 = 2,-9.139,0,-0.75,500,0,0.0001,0,0.0001,0.0001,0,0,0,0,0,0,1
point.10= 2,7.045,0,5.327,350,0,0.0001,0,0.0001,0.0001,0,0,0,7,0,0,1
point.11= 2,7.045,0,-3.72,350,0,0.0001,0,0.0001,0.0001,0,0,0,8,0,0,1
max_speed_full_steering=20
emergency_extension_type=2
gear_locked_on_ground=1
gear_locked_above_speed=-1
steering_time_constants= 3,5
allow_stopped_steering = 1
max_speed_decreasing_steering = 55
min_available_steering_angle_pct = 0.5
max_speed_full_steering_castering = 40
max_speed_decreasing_steering_castering = 55
min_castering_angle = 0.8
max_castering_angle = 1.5
locked_tailwheel_max_range = 0

[FUEL]
fuel_type =1

[AIRPLANE_GEOMETRY]
wing_area =320
wing_span =37
wing_root_chord =7
wing_camber =0
wing_thickness_ratio =0.1
wing_dihedral =0
wing_incidence =0
wing_twist =0
oswald_efficiency_factor =0.68
wing_winglets_flag =0
wing_sweep =0
wing_pos_apex_lon =-1.610554
wing_pos_apex_vert =3
htail_area =20
htail_span =8.5
htail_pos_lon =-15
htail_pos_vert =1.2
htail_incidence =0
htail_sweep =20
htail_thickness_ratio =0.1
vtail_area =12
vtail_span =4.2
vtail_sweep =25
vtail_pos_lon =-15
vtail_pos_vert =3.7
vtail_thickness_ratio =0.1
fuselage_length =26
fuselage_diameter =4.2
fuselage_center_pos = -2,0,-0.2
elevator_area =17.4
aileron_area =12.2
rudder_area =6.88
elevator_up_limit =20
elevator_down_limit =21
aileron_up_limit =15
aileron_down_limit =30
rudder_limit =24
elevator_trim_limit =19.5
spoiler_limit =0
spoilerons_available =0
aileron_to_spoileron_gain =0
min_ailerons_for_spoilerons =0
min_flaps_for_spoilerons =0
spoiler_extension_time =0.001
spoiler_handle_available =0
auto_spoiler_available =0
positive_g_limit_flaps_up =4
positive_g_limit_flaps_down =2
negative_g_limit_flaps_up =-1.5
negative_g_limit_flaps_down =-1.5
load_safety_factor =1.5
elevator_trim_neutral =0
aileron_to_rudder_scale =0
flap_to_aileron_scale =0
fly_by_wire =0
elevator_elasticity_table =0:1,200:0.5,800:0.4,1000:0.3,1500:0.1
aileron_elasticity_table =0:1,100:1,250:0.9,400:0.33,600:0.25
rudder_elasticity_table =0:1,300:1,800:0.5,1000:0.3,1500:0.2
elevator_trim_elasticity_table =0:1
aileron_to_elevator_gain=0
rudder_trim_limit=10
air_spoiler_limit=0
spoiler_disabled_by_flaps=0
auto_spoiler_auto_retracts=0
auto_spoiler_min_speed=0
fly_by_wire_from_flaps=0
aileron_span_outboard = 0.5
controls_reactivity_scalar = 0
control_elevator_forcebased = 0
load_g_limiter_g = 7.5

[AERODYNAMICS]
lift_coef_pitch_rate =-3.899902
lift_coef_daoa =1.699707
lift_coef_delta_elevator =-0.372559
lift_coef_horizontal_incidence =-0.567871
lift_coef_flaps =0.44
lift_coef_spoilers =0
drag_coef_zero_lift =0.029785
drag_coef_flaps =0.107422
drag_coef_gear =0.006836
drag_coef_spoilers =0
side_force_slip_angle =-0.399902
side_force_roll_rate =0.04248
side_force_yaw_rate =0.04834
side_force_delta_rudder =-0.200195
pitch_moment_horizontal_incidence =0
pitch_moment_delta_elevator =-0.781
pitch_moment_delta_trim =-0.48
pitch_moment_pitch_damping =-14.648
pitch_moment_aoa_0 =-0.13
pitch_moment_daoa =5.859
pitch_moment_flaps =-0.04
pitch_moment_gear =0
pitch_moment_spoilers =0
pitch_moment_delta_elevator_propwash =-0.051
pitch_moment_pitch_propwash =0
roll_moment_slip_angle =0.073
roll_moment_roll_damping =-0.46
roll_moment_yaw_rate =0
roll_moment_spoilers =0
roll_moment_delta_aileron =-0.228
roll_moment_delta_rudder =0.015
roll_moment_delta_aileron_trim_scalar =0
yaw_moment_slip_angle =0.068
yaw_moment_roll =0.06
yaw_moment_yaw_damping =-0.181
yaw_moment_yaw_propwash =0
yaw_moment_delta_aileron =-0.015
yaw_moment_delta_rudder =0.055
yaw_moment_delta_rudder_propwash =0
yaw_moment_delta_rudder_trim_scalar =0.052
compute_aero_center =0
aero_center_lift =-0.2

lift_coef_aoa_table =-3.142:0,-2.356:0.5,-1.571:0,-0.334:-1.078,-0.072:0,0:0.358,0.227:1.478,0.262:1.501,0.297:1.478,0.332:1.078,1.571:0,2.356:-0.5,3.142:0

lift_coef_ground_effect_mach_table = 0:1.25
lift_coef_mach_table =0:1
lift_coef_delta_elevator_mach_table =0:0
lift_coef_daoa_mach_table =0:0
lift_coef_pitch_rate_mach_table =0:0
lift_coef_horizontal_incidence_mach_table =0:0
drag_coef_zero_lift_mach_tab =0:0,0.8:0,0.9:0.1,1:0.5
side_force_slip_angle_mach_table =0:0
side_force_delta_rudder_mach_table =0:0
side_force_yaw_rate_mach_table =0:0
side_force_roll_rate_mach_table =0:0

pitch_moment_aoa_table =-3.15:0,-0.8:-2.015,-0.4:-1.62,-0.2:-0.93,-0.1:-0.492,0:0,0.2:0.954,0.23:1.07,0.26:1.177,0.29:1.356,0.31:1.464,0.4:1.791,0.8:2.329,3.15:0

pitch_moment_delta_elevator_aoa_table =-180:-1,-40:0.074,-20:0.62,-10:0.939,-5:1.054,0:1,5:0.826,10:0.649,20:0.319,40:-0.147,180:-1

pitch_moment_horizontal_incidence_aoa_table =0:1
pitch_moment_daoa_aoa_table =0:1
pitch_moment_pitch_alpha_table =0:1
pitch_moment_delta_elevator_mach_table =0:0
pitch_moment_daoa_mach_table =0:0
pitch_moment_pitch_rate_mach_table =0:0
pitch_moment_horizontal_incidence_mach_table =0:0
pitch_moment_aoa_0_mach_table =0:0

roll_moment_aoa_table =0:0
roll_moment_slip_angle_aoa_table =0:1
roll_moment_roll_rate_aoa_table =0:1
roll_moment_delta_aileron_aoa_table =0:1
roll_moment_slip_angle_mach_table =0:0
roll_moment_delta_rudder_mach_table =0:0
roll_moment_delta_aileron_mach_table =0:0
roll_moment_yaw_rate_mach_table =0:0
roll_moment_roll_rate_mach_table =0:0

yaw_moment_aoa_table =0:0
yaw_moment_slip_angle_aoa_table =0:1
yaw_moment_yaw_rate_aoa_table =0:1
yaw_moment_delta_rudder_aoa_table =0:1
yaw_moment_slip_angle_mach_table =0:0
yaw_moment_delta_rudder_mach_table =0:0
yaw_moment_delta_aileron_mach_table =0:0
yaw_moment_yaw_rate_mach_table =0:0
yaw_moment_roll_rate_mach_table =0:0

elevator_scaling_table 		= 0:1,1:1
aileron_scaling_table 		= 0:1,1:1
rudder_scaling_table 		= 0:1,1:1

aileron_load_factor_effectiveness_table =0:1
lift_coef_at_drag_zero_flaps=0
lift_coef_at_drag_zero=0
lift_coef_air_spoilers=0
elevator_lift_coef=5
rudder_lift_coef=5
fuselage_lateral_cx=0.4
presspt_fwd_Alpha0_pMAC=0
presspt_fwd_AlphaStall_pMAC=0
presspt_fwd_AlphaHiStall_pMAC=-0.25
drag_coef_air_spoilers=0
aileron_up_drag_coef = 0.1
aileron_down_drag_coef = 0.1

[FLIGHT_TUNING]
cruise_lift_scalar =1
parasite_drag_scalar =1
induced_drag_scalar =1
flap_induced_drag_scalar =1
elevator_effectiveness =1
aileron_effectiveness =1
rudder_effectiveness =1
pitch_stability =1
roll_stability =1
yaw_stability =1
elevator_trim_effectiveness =1
aileron_trim_effectiveness =1
rudder_trim_effectiveness =1
hi_alpha_on_roll =1
hi_alpha_on_yaw =1
p_factor_on_yaw =1
torque_on_roll =1
gyro_precession_on_roll = 1
gyro_precession_on_yaw =1
engine_wash_on_roll =0
stall_coef_at_min_weight=0.5
empty_CG_deviation_limit=10000
icing_scalar=1
wingflex_scalar=1
wingflex_offset=0
predicted_moi_density_scalar_fuselage=1
predicted_moi_density_scalar_wings=1
elevator_maxangle_scalar=1
elevator_chordangle_scalar=-1
htail_maxangle_scalar=-1
modern_fm_only=0
disable_assistances=0
rudder_maxangle_scalar=1
rudder_chordangle_scalar=-1
vtail_maxangle_scalar=-1
pitch_gyro_stability=0
roll_gyro_stability=0
yaw_gyro_stability=0
rudder_engine_wash_on_roll=1
gyro_precession_on_pitch=1

[REFERENCE SPEEDS]
full_flaps_stall_speed =45
flaps_up_stall_speed =95
cruise_speed =200
max_indicated_speed =250
max_flaps_extended =150
normal_operating_speed =200
airspeed_indicator_max =300
rotation_speed_min =-1
climb_speed =-1
cruise_alt =18500
takeoff_speed =55
spawn_cruise_altitude=1500
spawn_descent_altitude=500
best_angle_climb_speed=0
approach_speed=80
best_glide=0
max_gear_extended=170
cruise_mach=0.6
crossover_speed=0
best_single_engine_rate_of_climb_speed=0
minimum_control_speed=0
fly_assistant_use_dynamic_speeds=0

[INTERACTIVE POINTS]
number_of_interactive_points =0

;===================== FLAPS =====================

[FLAPS.0]
type=1
system_type=0
system_type_index=0
span-outboard=0.5
extending-time=7
altitude-limit=-1
damaging-speed=160
blowout-speed=200
maneuvering_flaps=0
lift_scalar=1
drag_scalar=1
pitch_scalar=1
max_on_ground_position=1
delay_between_flap_index=0
flaps-position.0= 0,-1,1,1,1,0,0,0
flaps-position.1= 40,160,1.5,1.6,1,0,0,0
flaps-position-speed-factor.0=0:-1
flaps-position-speed-factor.1=0:-1
flaps-position-speed-override-above.0= -1,-1
flaps-position-speed-override-above.1= -1,-1
flaps-position-speed-override-below.0= -1,-1
flaps-position-speed-override-below.1= -1,-1

[FUEL_SYSTEM]
Version = 1
Engine.1 = Name:Engine#Title:Engine#Index:1

Tank.1 = Name:FuelTank#Title:Fuel Tank#Capacity:72#UnusableCapacity:3#Position:2.865,1.255,-0.2

Line.1 = Name:TankToPump#Source:FuelTank#Destination:BoosterPump#FuelFlowAt1psi:5#Volume:0.5
Line.2 = Name:PumpToValve#Source:BoosterPump#Destination:FuelValve#FuelFlowAt1psi:5#Volume:0.5
Line.3 = Name:ValveToEngine#Source:FuelValve#Destination:Engine#FuelFlowAt1psi:5#Volume:0.5

Valve.1 = Name:FuelValve#DestinationLine:ValveToEngine

Pump.1 = Name:BoosterPump#Pressure:12#DestinationLine:PumpToValve#Type:Electric#Index:1

Trigger.1 = Name:AutoStart#Condition:Autostart_Enabled#EffectTrue:OpenValve.FuelValve,StartPump.BoosterPump
Trigger.2 = Name:AutoShutdown#Condition:Autoshutdown_Enabled#EffectTrue:CloseValve.FuelValve,StopPump.BoosterPump
Curve.1 = 0:0,0.2:0.25,0.4:0.5,0.6:0.75,0.8:0.8,0.9:0.85,1:1
